# adium
Library/Application Support/Adium 2.0/
Library/Preferences/com.adiumX.adiumX.plist

# chrome
Library/Application\ Support/Google/

# sublime
Library/Application\ Support/Sublime\ Text\ 2/Installed Packages/
Library/Application\ Support/Sublime\ Text\ 2/Pristine Packages/
Library/Application\ Support/Sublime\ Text\ 2/Packages/*
!Library/Application\ Support/Sublime\ Text\ 2/Packages/User/
Library/Application\ Support/Sublime\ Text\ 2/Packages/User/*
!Library/Application\ Support/Sublime\ Text\ 2/Packages/User/*.sublime-keymap
!Library/Application\ Support/Sublime\ Text\ 2/Packages/User/*.sublime-settings
Library/Application\ Support/Sublime\ Text\ 2/Packages/User/GoSublime-aux.sublime-settings
Library/Application\ Support/Sublime\ Text\ 2/Packages/User/SublimeREPLHistory/

# idea
Library/Preferences/IdeaIC13
Library/Preferences/IntelliJIdea12
Library/Preferences/IdeaIC14

# iterm2
Library/Preferences/com.googlecode.iterm2.plist

# keyremap4macbook
Library/Application\ Support/KeyRemap4MacBook/
Library/Preferences/org.pqrs.KeyRemap4MacBook.plist

# light-table
Library/Application\ Support/LightTable/plugins/
Library/Preferences/com.kodowa.LightTable.plist

# menumeters
Library/Preferences/com.ragingmenace.MenuMeters.plist

# atom
.atom/packages
